@using Microsoft.AspNetCore.Identity
@using volunteerplatform.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage Profile">
            ACCOUNT
        </a>
    </li>
    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
    {
        <li class="nav-item">
            <a class="nav-link text-danger fw-bold" asp-area="" asp-controller="Admin" asp-action="Index">ADMIN</a>
        </li>
    }
    @if (User.IsInRole("Organizer"))
    {
        <li class="nav-item">
            <a class="nav-link text-primary fw-bold" asp-area="" asp-controller="Initiatives" asp-action="MyInitiatives">MY MISSIONS</a>
        </li>
    }
    @if (User.IsInRole("Volunteer"))
    {
         <li class="nav-item">
            <a class="nav-link text-primary fw-bold" asp-area="" asp-controller="Enrolments" asp-action="MyApplications">APPLICATIONS</a>
         </li>
    }
    <li class="nav-item">
        <form  class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <button  type="submit" class="nav-link btn btn-link text-dark">LOGOUT</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
</ul>
